<template>
  <button>
    <slot></slot>
  </button>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
button {
  width: 100%;
  font-size: 1em;
  font-family: Gilroy;
  font-weight: bold;
  background-color: #000;
  color: white;
  padding: 0.5rem 0.63rem;
  border-radius: 6px;
  border: 0;
  transition: 0.3s ease-in;
  &:hover {
    background-color: #4cd964;
    cursor: pointer;
  }
}
</style>