<template>
  <div class="input-container">
    <label label> {{ label }}</label>
    <input :type="type" :placeholder="placeholder" />
  </div>
</template>

<script>
export default {
  props: {
    label: {
      type: String,
      default: "",
      required: true,
    },
    type: {
      type: String,
      default: "text",
      required: true,
    },
    placeholder: {
      type: String,
    },
  },
};
</script>

<style lang="scss" scoped>
.input-container {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;

  label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1rem;
  }
  input {
    border: none;
    border-bottom: 1px solid black;
    padding: 1rem 0;

    &:focus {
      outline: none;
    }
  }
}
</style>