<template>
  <div
    :class="likeToggal ? 'is_animating active' : ''"
    @click="addToFavorite"
    class="heart"
  ></div>
</template>

<script>
export default {
  methods: {
    addToFavorite() {
      this.likeToggal = !this.likeToggal;
    },
  },

  data() {
    return {
      likeToggal: 0,
    };
  },
};
</script>

<style lang="scss">
.heart {
  cursor: pointer;
  height: 100px;
  width: 100px;
  background-image: url("https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 2900%;

  &:hover {
    background-position: right;
  }
  &.active {
    background-position: right;
  }
}

.is_animating {
  animation: heart-burst 0.8s steps(28) 1;
}

@keyframes heart-burst {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}
</style>