<template>
  <div @click="setModalToggal" class="overlay"></div>
  <div class="modal">
    <div class="modal-header">
      <h3 class="modal-title">
        {{ activeProduct.in_stock ? "Add item to cart" : "" }}
      </h3>
      <img
        @click="setModalToggal"
        class="modal-close"
        src="../assets/close.png"
      />
    </div>
    <div class="modal-container" v-if="activeProduct.in_stock">
      <div class="modal-content">
        <div class="modal-card">
          <img
            :src="currentAssociatProduct.gallery.images[0].thumbnail"
            :alt="currentAssociatProduct.name"
          />
          <div class="modal-product-info">
            <h3 class="product-brand">{{ activeProduct.brand_value }}</h3>
            <h4 class="product-name">{{ currentAssociatProduct.name }}</h4>
            <ProductPrice
              view="modal"
              :price="price"
              :currency="activeProduct.currency"
            ></ProductPrice>
            <a href="#"> view product details </a>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <ProductSize
          :activeSizeIndex="activeSizeIndex"
          :sizes="activeProduct.associated_products"
          :setActiveSizeIndex="setActiveSizeIndex"
        >
        </ProductSize>
        <Button @click="setModalToggal">ADD TO CART</Button>
      </div>
    </div>

    <div class="modal-container" v-else>
      <div class="modal-Notify">
        <h2>Notify me</h2>
        <p>
          Please enter your e-mail address, we will contact you as soon as
          <span class="bold">{{ activeProduct.name }}</span> is back on stock
        </p>
        <Input type="email" label="e-mail address *" placeholder=""> </Input>
      </div>
      <div class="modal-footer">
        <Button @click="setModalToggal"> Notify me</Button>
      </div>
    </div>
  </div>
</template>

<script>
import ProductPrice from "./ProductPrice.vue";
import ProductSize from "./ProductSize.vue";
import Button from "./Button.vue";
import Input from "./Input.vue";
export default {
  components: {
    ProductPrice,
    ProductSize,
    Button,
    Input,
  },

  props: {
    activeProduct: Object,
    setModalToggal: Function,
  },
  computed: {
    currentAssociatProduct() {
      return this.activeProduct.associated_products[this.activeSizeIndex];
    },
  },

  data() {
    return {
      activeSizeIndex: 0,
      price: {
        SAR: {
          default: Number(
            this.activeProduct.associated_products[0].special_price
          ),
          default_original: Number(
            this.activeProduct.associated_products[0].regular_price
          ),
        },
      },
    };
  },

  methods: {
    setActiveSizeIndex(index) {
      this.activeSizeIndex = index;
      console.log(this.activeSizeIndex);
    },

    logger(value) {
      console.log(value);
    },
  },

  watch: {
    activeSizeIndex(newValue, oldValue) {
      // console.log(oldValue);
      //  console.log(newValue)

      if (oldValue === newValue) return;
      this.price = {
        [`${this.currentAssociatProduct.currency}`]: {
          default: this.currentAssociatProduct.special_price,
          default_original: this.currentAssociatProduct.regular_price,
        },
      };
    },

    price(newValue, oldValue) {
      //  console.log(oldValue);
      //  console.log(newValue)
    },
  },
};
</script>

<style lang="scss" scoped>
@keyframes modal-animation-mobile {
  from {
    transform: translate(-50%, 100%);
  }
  to {
    transform: translate(-50%, 0);
  }
}

@keyframes modal-animation {
  from {
    transform: translate(-50%, 100%);
  }
  to {
    transform: translate(-50%, -50%);
  }
}
.bold {
  font-weight: bold;
}
.overlay {
  background-color: black;
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
  position: fixed;
  inset: 0;
}
.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  background: white;
  min-width: 35vw;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  border-radius: 12px;
  max-width: 600px;
  animation: modal-animation 0.5s;
  touch-action: none;

  @media (max-width: 768px) {
    width: 100%;
    bottom: 0;
    top: unset;
    transform: translate(-50%, 0);
    animation: modal-animation-mobile 0.5s;
  }
  img {
    width: 100px;
    height: 100px;
  }

  .modal-header {
    display: flex;
    width: 100%;
    justify-content: space-between;

    img {
      width: 20px;
      height: 20px;
      position: relative;
      left: -1rem;
      top: -2rem;
      padding: 0.2rem;
      margin: 1rem 0rem;
      margin-bottom: 0;
      background: #eaeaea;
      border-radius: 50%;

      &:hover {
        cursor: pointer;
      }
    }
  }
  .modal-container {
    width: 100%;

    .modal-content {
      border-top: solid 1px #eaeaea;
      border-bottom: solid 1px #eaeaea;
      padding: 1rem 0 4rem 0;

      .modal-card {
        display: flex;
        padding: 0 2rem;

        img {
          margin-right: 1.3rem;
        }
        .product-name,
        .product-brand {
          margin: 0;
        }
        a {
          color: #007aff;
          text-decoration: none;
          font-weight: bold;
        }
      }
    }
    .modal-footer {
      padding: 0 2rem;
      button {
        font-size: 1.3rem;
      }
    }
    .modal-Notify {
      padding: 1rem 2rem;

      h2 {
        font-size: 2rem;
      }
      p {
        font-size: 1.1rem;
      }
    }
  }
  .modal-title {
    align-self: start;
    position: relative;
    width: 100%;
    left: -1rem;
    top: -2rem;
    padding: 0 2rem;
    margin-bottom: 0;
  }
}
</style>
