<template>
  <div :class="priceClass" class="price-grid">
    <div class="price-row">
      <p :class="getDiscountAmount > 0 ? 'red' : ''" class="current-price">
        {{ `${priceAfter} ${currency}` }}
      </p>
      <p class="old-price" v-if="getDiscountAmount > 0 && view === 'modal'">
        {{ `${priceBefore} ${currency}` }}
      </p>
      <p
        :class="getDiscountAmount > 0 ? '' : 'hide'"
        class="discount-precentage"
      >
        -{{ Math.ceil(getDiscountPrecentage) }}%
      </p>
    </div>
    <div v-if="getDiscountAmount > 0 && view === 'page'" class="price-row">
      <p class="old-price" v-if="getDiscountAmount > 0">
        {{ `${priceBefore} ${currency}` }}
      </p>
      <p class="discount-amount">
        Save {{ `${getDiscountAmount} ${currency}` }}
      </p>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    getDiscountAmount() {
      console.log(this.priceBefore - this.priceAfter);
      return this.priceBefore - this.priceAfter;
    },
    getDiscountPrecentage() {
      return (
        100 *
        Math.abs(
          (this.priceBefore - this.priceAfter) /
            ((this.priceBefore + this.priceAfter) / 2)
        )
      );
    },
    priceClass() {
      return this.view === "modal" ? "price-modal" : "price-page";
    },
  },
  props: {
    price: Object,
    currency: String,
    view: String,
  },
  data() {
    return {
      priceBefore: this.price[this.currency].default_original,
      priceAfter: this.price[this.currency].default,
    };
  },

  watch: {
    price(newValue, oldValue) {
      this.priceBefore = Number(newValue[this.currency].default_original);
      this.priceAfter = Number(newValue[this.currency].default);
    },
  },
};
</script>

<style lang="scss" scoped>
.red {
  color: red;
}
.hide {
  display: none;
}
.price-grid {
  font-family: Gilroy;
  min-height: 10vh;
  p {
    margin: 0.5rem 0;
  }
  .price-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .current-price {
      font-weight: bold;
      font-size: 1.2rem;
    }
    .discount-precentage {
      background-color: #a8efb4;
      font-weight: bold;
      padding: 0.2rem 1rem 0.2rem 0.2rem;
      border-radius: 6px;
    }
    .discount-amount {
      font-weight: bold;
    }
    .old-price {
      font-weight: 500;
      color: #3d3d3d;
      text-decoration: line-through;
    }
  }
}
.price-modal {
  display: flex;
  justify-content: flex-start;
  .price-row {
    p {
      margin-right: 0.4rem;
    }
  }
  &.price-grid {
    min-height: 1vh;
  }
}
</style>
