<template>
  <div>
    <h4 class="size-title">Size</h4>
    <div class="size-buttons">
      <Button
        v-for="(size, index) in sizes"
        @click="setActiveSizeIndex(index)"
        :class="activeSizeIndex === index ? 'active' : ''"
        :key="size.id"
      >
        {{ size.option.size }}
      </Button>
    </div>
  </div>
</template>

<script>
import Button from "./Button.vue";
export default {
  computed: {
    setActiveButton() {
      return (index) => {
        return this.activeSizeIndex === index ? "active" : "";
      };
    },
  },
  components: {
    Button,
  },

  props: {
    sizes: Object,
    setActiveSizeIndex: Function,
    activeSizeIndex: Number,
  },
};
</script>

<style lang="scss" scoped>
.size-title {
  font-weight: bold;
  padding-top: 1.5rem;
  font-size: 1.1em;
}
.size-buttons {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;

  button {
    padding: 15px 20px;
    width: auto;
    color: black;
    margin-right: 0.5rem;
    background-color: #f9f9f9;
    &.active {
      border: 2px solid black;
    }
  }
}
</style>
