<template>
  <div class="Card">
    <img :src="product.image_url" :alt="product.name" />
    <h3 class="product-brand">{{ product.brand_value }}</h3>
    <h4 class="product-name">{{ product.name }}</h4>
    <ProductPrice
      view="page"
      :price="product.price"
      :currency="product.currency"
    >
    </ProductPrice>
    <Button @click="handleButton(product)">
      {{ product.in_stock ? "Add +" : "Notify me" }}</Button
    >
    <LikeButton class="like-button"></LikeButton>
  </div>
</template>

<script>
import Button from "./Button.vue";
import ProductPrice from "./ProductPrice.vue";
import LikeButton from "./LikeButton.vue";

export default {
  components: {
    Button,
    ProductPrice,
    LikeButton,
  },
  props: {
    product: Object,
    setActiveProduct: Function,
    setModalToggal: Function,
  },

  methods: {
    handleButton(product) {
      this.setActiveProduct(product);
      this.setModalToggal();
    },
  },
};
</script>

<style lang="scss" scoped>
.Card {
  background-color: #f9f9f9;
  padding: 1.25rem;
  position: relative;

  font-family: Gilroy;
  .product-name {
    color: #7d7d7d;
    font-weight: lighter;
    margin: 0.5rem 0;
  }
  .product-brand {
    text-transform: uppercase;
    margin-bottom: 0;
  }
  .like-button {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
  }
}
</style>