<template> 
 <div class="container">
    <div class="cards-container"  v-if="allProducts[0]"> 
   <ProductCard
    v-for="product in allProducts"
      :key="product.objectID"
      :product="product"
      :setActiveProduct="setActiveProduct"
      :setModalToggal="setModalToggal"
      >

      </ProductCard>

    </div>
       <Modal v-if="modalToggal" :activeProduct="activeProduct" :setModalToggal="setModalToggal">
       <h1> {{ activeProduct.in_stock?'Add to cart':'Notify me'}}</h1>
      
    </Modal>
  </div>
</template>

<script>
import ProductCard from "./components/ProductCard.vue";
import Modal from "./components/Modal.vue";
import Button from "./components/Button.vue";

export default {
  name: 'App',
  components: {
    ProductCard,
    Modal,
    Button,
   
  },
  
  async mounted() {
    await this.$store.dispatch("getProductsList");
    this.allProducts = this.$store.state.allProducts;
    console.log(this.allProducts);
  },

  data() {
    return {
        allProducts:[],
        modalToggal:0,
        activeProduct:{},
  }
},

methods: {
  setActiveProduct(product) {
    this.activeProduct = product;
    
  },
  setModalToggal() {
    this.modalToggal = !this.modalToggal;
  }

}
}
</script>

<style lang="scss">

  @font-face {
    font-family: Gilroy ;
    src: url(../src/assets/fonts/Gilroy-Regular.ttf);
  }

    @font-face {
    font-family: Gilroy ;
    src: url(../src/assets/fonts/Gilroy-Medium.ttf);
    font-weight: 500;
  }
    @font-face {
    font-family: Gilroy ;
    src: url(../src/assets/fonts/Gilroy-SemiBold.ttf);
    font-weight: bold;
  }
    @font-face {
    font-family: Gilroy ;
    src: url(../src/assets/fonts/Gilroy-Light.ttf);
    font-weight: lighter;
  }
#app {
  
  display: flex;
  justify-content: center;
  font-family: Gilroy;
  .container {
    width: 80%;
    

    .cards-container {
      display: grid;
      grid-template-columns:1fr 1fr 1fr 1fr;
      gap: 1.2rem 1.2rem;
       @media (max-width: 768px) {
      grid-template-columns:1fr;
    }

      img {
        max-width: 100%;
        mix-blend-mode:darken;
        transition:transform 0.2s ease-in-out;
        &:hover {
          transform: scale(1.1);
          cursor: pointer;
        }
      }
    }
   
  }
}
</style>
